<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670359924071-0kguhh5es2qolbiup2oc100iftl8es4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670359924071-0kguhh5es2qolbiup2oc100iftl8es4f</string>
	<key>API_KEY</key>
	<string>AIzaSyDTJulDI_9DbecHEPHz8yRdebrmBrSpLuU</string>
	<key>GCM_SENDER_ID</key>
	<string>670359924071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.social-app</string>
	<key>PROJECT_ID</key>
	<string>firstprog-87c2c</string>
	<key>STORAGE_BUCKET</key>
	<string>firstprog-87c2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670359924071:ios:b3da02cebf948e6387d3c2</string>
</dict>
</plist>